.sidebar{
   border-right: 1px solid #c2c2c2;
   width: 20%;
}
.sidebar-menu_section{
   margin: 40px 40px 0 0;
}
.sidebar_section{
   margin: 0 auto !important;
}
.mt-10{
   margin-top: 10%;
}
.announcement-section{
   margin: 40px 0 0 40px;
}