.bar{
   display: none;
}
@media screen and (max-width:1040px) {
   .bar{
      display: flex;
   }
   .bar::before{
      content: '\ed8c';
      font-family: Icomoon;
      font-size: 25px;
   }
   .bar:checked::before{
      content: '\ed94';
      position: absolute;
      right: 30px;
      font-size: 30px;
      z-index: 20;
   }
}
